/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.jpg");
  --text-color: #353430;
  --inverse-text-color: #353430;
  --accent-color: #ff8dcb;
  --primary-title-color: #ffc2e6;
  --decoration-color: #353430;
  --decoration-hover-color: #35343066;
}

.theme-light .header__record-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.jpg");
    --text-color: #353430;
    --inverse-text-color: #353430;
    --accent-color: #ff8dcb;
    --primary-title-color: #ffc2e6;
    --decoration-color: #353430;
    --decoration-hover-color: #35343066;
  }

  .theme-auto .header__record-indicator {
    display: none;
  }
}

@supports (
  background-image: -webkit-image-set(url("../images/cover-image-light.avif")
        type("image/avif"), url("../images/cover-image-light.jpg")
        type("image/jpeg"))
) {
  :root.theme-light {
    --background-image: -webkit-image-set(
      url("../images/cover-image-light.avif") type("image/avif"),
      url("../images/cover-image-light.jpg") type("image/jpeg")
    );
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background-image: -webkit-image-set(
        url("../images/cover-image-light.avif") type("image/avif"),
        url("../images/cover-image-light.jpg") type("image/jpeg")
      );
    }
  }
}

@supports (
  background-image:
    image-set(
      url("../images/cover-image-light.avif") type("image/avif"),
      url("../images/cover-image-light.jpg") type("image/jpeg")
    )
) {
  :root.theme-light {
    --background-image: image-set(
      url("../images/cover-image-light.avif") type("image/avif"),
      url("../images/cover-image-light.jpg") type("image/jpeg")
    );
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background-image: image-set(
        url("../images/cover-image-light.avif") type("image/avif"),
        url("../images/cover-image-light.jpg") type("image/jpeg")
      );
    }
  }
}
