/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  color: var(--text-color, #f1b2ce);
  font-family: var(--primary-font, "IBM Plex mono", monospace);
  font-weight: normal;
  font-size: var(--primary-font-size, 18px);
  line-height: var(--primary-line-height, 1.3);
  background-color: var(--background-color, #000028);
  background-image: var(
    --background-image,
    url("../images/cover-image-dark.jpg")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main-title {
  color: var(--primary-title-color, #db00ff);
  font-weight: bold;
  font-size: var(
    --main-title-size,
    clamp(6.444rem, 6.2322rem + 1.0168vw, 6.666rem)
  );
  line-height: 0.825;
  text-transform: lowercase;
  text-shadow: var(--shadow-offset, 4px) var(--shadow-offset, 4px)
    var(--accent-color, #ff0070);
  text-wrap: wrap;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--section-padding, 10px);
  right: var(--section-padding, 10px);
  z-index: -1;
  border-inline-end: 1px solid var(--decoration-color, #ff0070);
  border-block-start: 1px solid var(--decoration-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--section-padding, 10px);
  left: var(--section-padding, 10px);
  z-index: -1;
  border-inline-start: 1px solid var(--decoration-color, #ff0070);
  border-block-end: 1px solid var(--decoration-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-text {
  color: var(--inverse-text-color, #000028);
  line-height: 1.289;
  background-color: var(--accent-color, #ff0070);
}

.page .layout-section {
  margin-block-end: var(--layout-section-margin, 30px);
  padding: var(--section-padding, 10px);
}

.page .layout-section:first-child {
  padding-block-start: var(--section-padding, 10px);
}

.page .layout-section:last-child {
  margin-block-end: 0;
  padding-block-end: var(--section-padding, 10px);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  gap: 20px;
  margin-block-end: var(--content-section-margin, 50px);
}

.content-section:last-child {
  margin-block-end: 0;
}

.section-title {
  color: var(--decoration-color, #ff0070);
}

.content-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 10px;
}

.content-block__title {
  display: block;
}

.content-block__title--regular {
  font-weight: 400;
}

.content-block__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.content-block__link:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.content-block__link:focus {
  outline: none;
}

.content-block__link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: var(--minimal-section-height, 668px);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
  color: var(--decoration-color, #ff0070);
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  line-height: 1;
  text-transform: lowercase;
  inline-size: 100%;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decoration-hover-color, #ff007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decoration-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decoration-color, #ff0070);
  pointer-events: none;
}

.header__record-indicator {
  position: absolute;
  top: var(--section-padding, 10px);
  right: var(--section-padding, 10px);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  margin: 1.3px 10px;
  color: var(--decoration-color, #ff0070);
}

.header__record-indicator::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decoration-color, #ff0070);
  background-color: var(--decoration-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__title-no-focus {
  grid-row: 2;
  justify-self: start;
}

.header__tagline {
  grid-row: 3;
  padding-inline-end: 5px;
  font-weight: bold;
}

.how-to__list-item:not(:last-of-type) {
  margin-block-end: 20px;
}

.content-section.main__gallery {
  gap: var(--gallery-gap, 10px);
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap, 10px);
}

.gallery__image {
  inline-size: 100%;
}

.gallery__image img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--layout-section-margin);
  block-size: 100vh;
  min-block-size: var(--minimal-section-height, 668px);
}

.footer__title-focus {
  --shadow-offset: 2px;
}

@media (width >= 768px) {
  .decorated-text {
    line-height: var(--primary-line-height, 1.3);
  }

  .header__title-no-focus {
    margin-inline-start: calc(0px - var(--section-padding));
  }
  .header__tagline {
    margin-inline-start: 50%;
  }

  .content-section:not(.main__gallery) {
    grid-template-columns: 1fr 2fr;
  }

  .reasons__title,
  .how-to__title {
    grid-row: 1 / -1;
  }

  .content-section .content-block,
  .main__how-to .how-to__subtitle {
    grid-column: 2;
  }

  .main__factors .content-block {
    grid-column: 1 / -1;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-auto-flow: row dense;
  }

  .gallery__images .gallery__image:first-of-type,
  .gallery__images .gallery__image:last-of-type {
    grid-column: span 2;
  }

  .gallery__images .gallery__image:nth-of-type(2),
  .gallery__images .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__title-no-focus {
    position: relative;
    left: max(0px, calc((100% - var(--current-breakpoint)) / 2));
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-flow: row nowrap;
  }

  .content-section.main__reasons,
  .content-section.main__how-to {
    grid-template-columns: 1fr 2.06fr;
  }

  .content-section.main__factors {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__factors::before {
    content: "";
    display: block;
    grid-column: 2 / -1;
    grid-row: 1;
  }

  .main__factors .content-block {
    grid-column: initial;
  }
}
