/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Layout и типография */
  --current-breakpoint: 100%;
  --section-padding: 10px; /* mobile-first */
  --primary-font: 'IBM Plex mono', monospace;
  --primary-font-size: 1rem;
  --primary-line-height: 1.3;
  --main-title-size: clamp(6.444rem, 6.2322rem + 1.0168vw, 6.666rem);
  --page__section-margin: 30px;
  --main__section-margin: 50px;
  --gallery-gap: 10px;

  /* Default color-scheme */
  --background-color: #000028;
  --background-image: url("/images/cover-image-dark.jpg");
  --text-color: #F1B2CE;
  --inverse-text-color: #000028;
  --accent-color: #FF0070;
  --primary-title-color: #DB00FF;
  --decoration-color: #FF0070;
  --decoration-hover-color: #FF007066;
}


@media (width >= 768px) {
  :root {
    --section-padding: 20px;
    --main-title-size: clamp(6.667rem, 14.453vw + 0.5rem, 8.722rem);
    --page__section-margin: 40px;
    --main__section-margin: 80px;
    --gallery-gap: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --current-breakpoint: 1024px;
    --main-title-size: clamp(6.667rem, 14.453vw + 0.5rem, 8.722rem);
  }
}

@supports (
  background-image: -webkit-image-set(url("/images/cover-image-dark.avif")
        type("image/avif"), url("/images/cover-image-dark.jpg")
        type("image/jpeg"))
) {
  :root {
    --background-image: -webkit-image-set(
      url("/images/cover-image-dark.avif") type("image/avif"),
      url("/images/cover-image-dark.jpg") type("image/jpeg")
    );
  }
}


@supports (
  background-image:
    image-set(
      url("/images/cover-image-dark.avif") type("image/avif"),
      url("/images/cover-image-dark.jpg") type("image/jpeg")
    )
) {
  :root {
    --background-image: image-set(
      url("/images/cover-image-dark.avif") type("image/avif"),
      url("/images/cover-image-dark.jpg") type("image/jpeg")
    );
  }
}

